spring.application.name=backend

server.port=8080

spring.datasource.url=jdbc:postgresql://localhost:5433/sapsr_db
spring.datasource.username=sapsr_user
spring.datasource.password=sapsr_password

spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true

telegram.bot.token=ТОКЕН

# Подключение к RabbitMQ в Docker
spring.rabbitmq.host=localhost
spring.rabbitmq.port=5672
spring.rabbitmq.username=rmq_user
spring.rabbitmq.password=rmq_password

sapsr.rabbitmq.tasks-queue=pdf_tasks_queue