spring.application.name=backend

server.port=8080

spring.datasource.url=jdbc:postgresql://localhost:5433/sapsr_db
spring.datasource.username=sapsr_user
spring.datasource.password=sapsr_password

spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true

telegram.bot.token=ТОКЕН